@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Archivo", "Inter", sans-serif;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
li {
  list-style-type: none;
}
ul,
p,
a {
  padding: 0;
  margin: 0;
}
p,
a {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
